.engineer {
    float: left;
    height: 55%;
    width: 55%;
}

.aboutText {
    float: left;
    padding-top: 80px;
    padding-left: 30px;
    width: 40%;
    font-size: 20px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.callDaveImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}