//header#masthead > container > nav >img.logoheader a
//section.welcome > img
//footer > div.push > img

#bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


//!Private Navbar
#main-navbar {
  background-color: transparent;
  padding: 0;

  .container-fluid {
    padding: 0;

    #logo-img-link {
      padding: 0;

      img#logo-img {
        margin-right: auto;
        width: 120px;
        border-radius: 0px 0px 10px 0px;
      }
    }

    .navbar-collapse {
      flex-basis: initial;
      flex-grow: initial;
    }

    //*menu closed - menu toggler btn
    #basic-navbar-nav {
      right: 0;
      left: auto;
      color: rgb(255, 38, 0);
      background-color: #fff;
      border: none;
      width: 200px;
      height: 56px;
      font-size: 30px;
      font-family: "Phosphate";
      font-weight: bold;
      border-radius: 0px 0px 0px 10px;
    }

    //*toggle when opened
    #basic-navbar-nav.show {
      border-radius: 0px 0px 0px 0px;
    }

    //*when menu opened
    .dropdown-menu.show {
      background-color: #fff;
      padding: 0;
      margin: 0;
      border: 0;
      border-radius: 0;
      width: 200px;
      max-height: 100vh;
      font-size: 30px;
      font-family: "Phosphate";
      font-weight: bold;
    }

    /* Remove default Link styles */
    a {
      text-decoration: none;
      color: inherit;
    }

    #logout {
      width: 100%;
    }

    /* Apply NavDropdown.Item styles to Link */
    a,
    #logout {
      display: block;
      padding: 0.5rem 1rem;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
    }

    a:hover,
    a:focus,
    #logout:hover,
    #logout:focus {
      color: #1e2125;
      text-decoration: none;
      background-color: #e9ecef;
    }
  }
}

//!Public navbar
header {
  display: flex;
  justify-content: space-between;
  //?center vertically
  align-items: center;
  img.logoheader {
    margin-right: auto;
    width: 120px;
    border-radius: 0px 0px 10px 0px;
  }
  button {
    color: rgb(255, 38, 0);
    background-color: #fff;
    border: none;
    width: 200px;
    height: 56px;
    font-size: 30px;
    font-family: "Phosphate";
    font-weight: bold;
    border-radius: 0px 0px 0px 10px;
  }
  #about {
    margin-left: auto;
    button {
      border-radius: 0px 0px 0px 10px;
    }
  }
}

//*Main Container
.top-content {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    color: #fff;
    background-color: rgb(255, 38, 0);
    width: 200px;
    height: 70px;
    font-size: 35px;
    font-family: "Phosphate";
    font-weight: bold;
    border: none;
  }
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  background: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-top: 2px solid red;
  border-radius: 50px 50px 0px 0px;
  .logo {
    width: 4%;
  }
}

//*HANDLEBARS ETC.

/* items page */

.tools-header {
  margin-left: 17%;
}

.list-group-item {
  margin-top: 80px;
  margin-left: -105%;
  margin-right: -150%;
}

.list-group-item {
  line-height: 2.5;
}

//*MEDIA QUERIES

@media only screen and (max-width: 500px) {
  .nav {
    font-size: 16px;
  }

  .welcome {
    height: 700px;
  }
}
