//header#masthead > container > nav >img.logoheader a 
//section.welcome > img
//footer > div.push > img 


#bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}



// body {
//   background-image: url("../assets/T4Twelcome.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }

// #welcome-section {
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }

// .bg-img {
//   height: 100%;
//   width: 100%;
//   object-fit: cover;
// }


//*Header 
header {
  display: flex;
  justify-content: space-between;
  //?center vertically
  align-items: center;
  img.logoheader {
    margin-right: auto ;
    width: 150px;
    border-radius: 0px 0px 10px 0px;
  }
  button {
    color: rgb(255, 38, 0);
    background-color: #fff;
    border: none;
    width: 200px;
    height: 70px;
    font-size: 40px;
    font-family: 'Phosphate';
    font-weight: bold;
    border-radius: 0px 0px 0px 10px;
  }
  #about {
    margin: auto;
    border-radius: 0px 0px 10px 10px;
  }
  #logout {
    margin-left: auto;
  }
}

.top-content {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    color: #fff;
    background-color: rgb(255, 38, 0);
    width: 200px;
    height: 70px;
    font-size: 40px;
    font-family: 'Phosphate';
    font-weight: bold;
    border: none;
  }
}

// header {
//   position: sticky;
//   top: 0;
//   z-index: 1000000;
//   background: white;
//   color: black;
//   border-top: 2px solid red;
//   border-bottom: 2px solid red;
//   width: 100%;
//   overflow: auto;
//   font-family: Phosphate, Phosphor, "Times New Roman", Times, serif;
//   font-size: 20px;
//   text-decoration: none;
//   .container {
//     nav {
//       float: right;
//       color: black;
//       a {
//         display: inline-block;
//         padding-left: 15px;
//         padding-right: 15px;
//         margin-left: 15px;
//         margin-right: 15px;
//         line-height: 18px;
//         color: black;
//       }
//       a.active {
//         background: black;
//         color: white;
//         text-decoration: none;
//         margin-top: -10px;
//         padding-top: 10px;
//         padding-bottom: 10px;
//       }
//       /* hover styling */
//       a:hover {
//         background: black;
//         color: white;
//         text-decoration: none;
//         margin-top: -10px;
//         padding-top: 10px;
//         padding-bottom: 10px;
//       }
//       a.active:hover {
//         color: white;
//         text-decoration: none;
//       }      
//     }
//   }
// }















/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  background: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-top: 2px solid red;
  border-radius: 50px 50px 0px 0px;
  .logo {
    width: 4%;
  }
}





//*HANDLEBARS ETC.

/* items page */

.tools-header {
  margin-left: 17%;
}

.list-group-item {
  margin-top: 80px;
  margin-left: -105%;
  margin-right: -150%;
}

.list-group-item {
  line-height: 2.5;
}


//*MEDIA QUERIES

@media only screen and (max-width: 500px) {
  .nav {
    font-size: 16px;
  }

  .welcome {
    height: 700px;
  }
}
