#bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//*Header
header {
  display: flex;
  justify-content: space-between;
  //?center vertically
  align-items: center;
  img.logoheader {
    margin-right: auto;
    width: 120px;
    border-radius: 0px 0px 10px 0px;
  }
  button {
    color: rgb(255, 38, 0);
    background-color: #fff;
    border: none;
    width: 200px;
    height: 56px;
    font-size: 30px;
    font-family: "Phosphate";
    font-weight: bold;
    border-radius: 0px 0px 0px 10px;
  }
  #about {
    margin-left: auto;
    button {
      border-radius: 0px 0px 0px 10px;
    }
    &.private {
      margin: auto;
      button {
        border-radius: 0px 0px 10px 10px;
      }
    }
  }
  #update-profile {
    margin: auto;
    button {
      border-radius: 0px 0px 10px 10px;
    }
  }
  #logout {
    margin-left: auto;
  }
}

.container {
    width: 50%;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  background: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-top: 2px solid red;
  border-radius: 50px 50px 0px 0px;
  .logo {
    width: 4%;
  }
}

//*HANDLEBARS ETC.

/* items page */

.tools-header {
  margin-left: 17%;
}

.list-group-item {
  margin-top: 80px;
  margin-left: -105%;
  margin-right: -150%;
}

.list-group-item {
  line-height: 2.5;
}

//*MEDIA QUERIES

@media only screen and (max-width: 500px) {
  .nav {
    font-size: 16px;
  }

  .welcome {
    height: 700px;
  }
}
