/** MAIN CSS FILE */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

h2 {
  color: red;
  font-size: 54px;
  font-family: Phosphate, Phosphor, 'Times New Roman', Times, serif;
}

h3 {
  color: red;
  font-size: 54px;
  font-family: Phosphate, Phosphor, 'Times New Roman', Times, serif;
}


/** ---> index.js  */